<div class="grid layout-dashboard">
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-1">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Messages</h5>
                <span>24 new since last visit</span>
            </div>
            <div class="col-3 overview-box-status">
                440
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-2">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Check-ins</h5>
                <span>48 new since last visit</span>
            </div>
            <div class="col-3 overview-box-status">
                532
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-3">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Files Synced</h5>
                <span>32,56 / 250 GB</span>
            </div>
            <div class="col-3 overview-box-status">
                28
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-4">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Users Online</h5>
                <span>72 new user this week</span>
            </div>
            <div class="col-3 overview-box-status">
                256
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-12 ">
        <div class="grid flex-column grid-nogutter">
            <div class="col-12 ">
                <div class="card widget-statistics">
                    <div class="grid">
                        <div class="col-6 md:col-8">
                            <h5>Statistics</h5>
                        </div>
                        <div class="col-6 md:col-4 dropdown">
                            <p-dropdown [options]="dropdownYears" [(ngModel)]="selectedYear"></p-dropdown>
                        </div>
                    </div>
                    <p-chart id="dashboard-chart" type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
                </div>
            </div>
           
        </div>
    </div>
  

   
    <div class="col-12 lg:col-12">
        <div class="card widget-team">
            <h5>Team Members</h5>
            <ul>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-carmelita.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Carmelita Marsham</h6>
                                <span class="team-member-role">Sales</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div class="icon icon-hastag">
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="icon icon-twitter">
                                <i class="pi pi-share-alt"></i>
                            </div>
                            <div class="icon icon-prime">
                                <img src="assets/layout/images/dashboard/icon-prime.svg" alt="mirage-layout" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-govzden.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Gvozden Boskovsky</h6>
                                <span class="team-member-role">Marketing</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div class="icon icon-hastag">
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="icon icon-twitter">
                                <i class="pi pi-share-alt"></i>
                            </div>
                            <div class="icon icon-prime">
                                <img src="assets/layout/images/dashboard/icon-prime.svg" alt="mirage-layout" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-athar.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Athar Makakooti</h6>
                                <span class="team-member-role">Marketing</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div class="icon icon-hastag">
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="icon icon-twitter">
                                <i class="pi pi-share-alt"></i>
                            </div>
                            <div class="icon icon-prime">
                                <img src="assets/layout/images/dashboard/icon-prime.svg" alt="mirage-layout" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-tokunaga.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Tokunaga Yae</h6>
                                <span class="team-member-role">Unknown</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div class="icon icon-hastag">
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="icon icon-twitter">
                                <i class="pi pi-share-alt"></i>
                            </div>
                            <div class="icon icon-prime">
                                <img src="assets/layout/images/dashboard/icon-prime.svg" alt="mirage-layout" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-olisha.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Olisha Farmer</h6>
                                <span class="team-member-role">Design</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div class="icon icon-hastag">
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="icon icon-twitter">
                                <i class="pi pi-share-alt"></i>
                            </div>
                            <div class="icon icon-prime">
                                <img src="assets/layout/images/dashboard/icon-prime.svg" alt="mirage-layout" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


  
 
 

</div>
